{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <div class="round-wrapper">
            <div class="round-list__wrapper">
                <h3>Round 1</h3>
                <ul class="round-list" style="border-radius: 3px!important;">
                    <li class="round-list__item" style="padding-bottom: 1px">
                        <span style="text-align: center; width: 15%">1</span>
                        <p style="width: 90%;">La Vardade</p>
                        <span style="text-align: center; width: 15%">1</span>
                    </li>
                    <li class="round-list__item" style="padding-bottom: 1px">
                        <span style="text-align: center; width: 15%">1</span>
                        <p style="width: 90%;">Piquene</p>
                        <span style="text-align: center; width: 15%">1</span>
                    </li>
                </ul>
                <h3>Round 2 </h3>
                <ul class="round-list">
                    <li class="round-list__item">
                        <span>1</span>
                        <p>La Vardade</p>
                    </li>
                    <li class="round-list__item">
                        <span>2</span>
                        <p>Piquene</p>
                    </li>
                </ul>
            </div>
            <div class="round-list__wrapper">
                <h3>Round 1</h3>
                <ul class="round-list">
                    <li class="round-list__item">
                        <span>1</span>
                        <p>La Vardade</p>
                    </li>
                    <li class="round-list__item">
                        <span>2</span>
                        <p>Piquene</p>
                    </li>
                </ul>
                <h3>Round 2 </h3>
                <ul class="round-list">
                    <li class="round-list__item">
                        <span>1</span>
                        <p>La Vardade</p>
                    </li>
                    <li class="round-list__item">
                        <span>2</span>
                        <p>Piquene</p>
                    </li>
                </ul>
            </div>
            <div class="round-list__wrapper">
                <h3>Round 1</h3>
                <ul class="round-list">
                    <li class="round-list__item">
                        <span>1</span>
                        <p>La Vardade</p>
                    </li>
                    <li class="round-list__item">
                        <span>2</span>
                        <p>Piquene</p>
                    </li>
                </ul>
            </div>
            <div class="round-list__wrapper">
                <h3>Round 1</h3>
                <ul class="round-list">
                    <li class="round-list__item">
                        <span>1</span>
                        <p>La Vardade</p>
                    </li>
                    <li class="round-list__item">
                        <span>2</span>
                        <p>Piquene</p>
                    </li>
                </ul>
            </div>
        </div>
        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
</body>
</html>