{% extends 'base.html' %}
{% load static %}
{% block content %}  
<div class="main-content" style="min-height: 842px;">
    <h2 class="section-title">{{tur.turnir}} chempionatining {{tur}} o`yinlari</h2>
    <p class="section-lead">
        {{tur}} boshlanish sanasi: {{tur.data_start}}
    </p>
    <div class="row sortable-card ui-sortable">
        {% for match in matches %}
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="d-flex justify-content-center">
                        <h4>{{match.first_klub}} :</h4>
                        <h4>{{match.second_klub}}</h4>
                    </div>
                    <div class="card-header-action">
                        <a data-collapse="#mycard-collapse{{match.pk}}" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                    </div>
                </div>
                <div class="collapse show" id="mycard-collapse{{match.pk}}" style="">
                    <div class="card-body">
                        {% if match.status == True %}
                        <div class="d-flex justify-content-around">
                            <h4>{{match.first_klub}}  </h4>
                            <h4> {{match.first_klub_result}} :  {{match.first_klub_result}} </h4>
                            <h4>{{match.second_klub}} </h4> 
                        </div>
                        <div class="card-footer">
                            <p>G`olib kulub : <a href="#">{{match.winner}} </a> </p>
                            <p>Sana :  {{match.data}}</p>
                        </div>
                        {% else %}
                        <div class="d-flex justify-content-around">
                            <h4>{{match.first_klub}}  </h4>
                            <h4> 0 : 0</h4>
                            <h4>{{match.second_klub}} </h4> 
                        </div>
                        <div class="card-footer">
                            <p>Sana :  {{match.data}}</p> 
                        </div>
                        {% endif %}
                        <!-- You can show or hide this card. -->
                    </div>
                </div>
              </div>
        </div>
        {% endfor %}
</div>
{% endblock content %}