{% extends 'base.html' %}
{% load static %}
{% block content %}  
<div class="main-content" style="min-height: 842px;">
<div class="row">
    <div class="col-6">
        <h2 class="section-title">{{tur.tournament}} chempionatining {{tur}} o`yinlari</h2>
        <p class="section-lead">
            {{tur}} boshlanish sanasi: {{tur.data_start|date:'Y-m-d'}}
        </p>
    </div>
    <div class="col-5"></div>
    <div class="col-1">
        <button  type="button" class="btn btn-primary" data-toggle="modal"
                 data-target="#exampleModalCenter">add</button>
    </div>
</div>
    <div class="row sortable-card ui-sortable">
        {% for match in matches %}
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="d-flex justify-content-center">
                        <h4>{{match.first_club}} :</h4>
                        <h4>{{match.second_club}}</h4>
                    </div>
                    <div class="card-header-action">
                        <a data-collapse="#mycard-collapse{{match.pk}}" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                    </div>
                </div>
                <div class="collapse show" id="mycard-collapse{{match.pk}}" style="">
                    <div class="card-body">
                        <div class="d-flex justify-content-around">
                            <h4>{{match.first_club}}  </h4>
                            <h4> {{match.first_club_result}} :  {{match.second_club_result}} </h4>
                            <h4>{{match.second_club}} </h4>
                        </div>
                        {% if match.status %}
                        <div class="d-flex justify-content-around">
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenteradd{{ match.id }}">yakunlash</button>
                          {% else %}
                          <div class="d-flex justify-content-start">
                            <button class="btn" type="button" data-toggle="modal" data-target="#exampleModalCenterdelete{{ match.id }}"><i style="color: red" class="fas fa-trash"></i></button>
                            <button class="btn" type="button" data-toggle="modal" data-target="#exampleModalCenterEdit{{ match.id }}"><i style="color: orange" class="fas fa-edit"></i></button>
                            {% endif %}
                            <div class="modal fade" id="exampleModalCenteradd{{ match.id }}" tabindex="-1" role="dialog"
                              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form action="{% url 'close-match' %}" method="post">
                                        {% csrf_token %}
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Oyinni yakunlash</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                              <input type="hidden" name="match" value="{{ match.id }}">
                                              <input type="hidden" name="round" value="{{ tur.id }}">
                                              <div class="row">
                                                    <div class="col-3">
                                                      <h6>{{match.first_club}}</h6>
                                                    </div>
                                                    <div class="col-2">
                                                      <input type="text" class="form-control" name="first_club">
                                                    </div>
                                                  <div class="col-2 text-center">
                                                      <h6>:</h6>
                                                  </div>
                                                    <div class="col-2">
                                                      <input type="text" class="form-control" name="second_club">
                                                    </div>
                                                    <div class="col-3">
                                                        <h6>{{match.second_club}}</h6>
                                                    </div>
                                              </div>
                                          </div>
                                          <div class="modal-footer bg-whitesmoke br">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          </div>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        {% endfor %}
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="{% url 'add-match' %}" method="post">
                    {% csrf_token %}
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Add Match</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <input type="hidden" name="round" value="{{ round }}">
                          <select name="first_club" class="form-control" id="first_club" required onchange="myFunction()">
                              <option value="" selected disabled>1-Kamanda</option>
                          </select>
                          <select name="second_club" class="form-control mt-3 first_club" id="second_club" required>
                              <option value="" selected disabled>2-Kamanda</option>
                          </select>
                      </div>
                      <div class="modal-footer bg-whitesmoke br">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                </form>
            </div>
          </div>
        </div>
    </div>
</div>
{% for i in matches %}
    <div class="modal fade" id="exampleModalCenterdelete{{ i.id }}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="{% url 'delete-match' i.id %}" method="post">
                {% csrf_token %}
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Delete Match</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <input type="hidden" value="{{ tur.id }}" name="round">
                      Rostdan ham Matchni ochirib yubormoqchimisiz?
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                    <button type="submit" class="btn btn-primary">Ha</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Yoq</button>
                  </div>
            </form>
        </div>
      </div>
    </div>
{% endfor %}
{% for match in matches %}
    <div class="modal fade" id="exampleModalCenterEdit{{ match.id }}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="{% url 'update-match'%}" method="post">
                {% csrf_token %}
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">O`yin natijasini o`zgartirish</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                        <input type="hidden" name="match" value="{{match.id}}">
                        <div class="col-6 text-center">
                            <h4>{{ match.first_club.name }}</h4>
                        </div>
                        <div class="col-6 text-center">
                            <h4>{{ match.second_club.name }}</h4>
                        </div>
                    </div> <br>
                    <div class="row">
                      <div class="col-5">
                        <input class="form-control" type="number" value="{{match.first_club_result}}" name="first_club_result">
                      </div>
                      <div class="col-2 text-center">
                        <h3>:</h3>
                    </div>
                      <div class="col-5">
                        <input class="form-control" type="number" value="{{match.second_club_result}}" name="second_club_result">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                    <button type="submit" class="btn btn-primary">Saqlash</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Qaytish</button>
                  </div>
            </form>
        </div>
      </div>
    </div>
</div>
{% endfor %}
{% endblock content %}
{% block script %}
    <script>
        let clubs = {{ maxsulotjs|safe }};
        console.log(clubs)
        let select1 = document.getElementById("first_club");
        let select2 = document.getElementById("second_club");
        $(document).ready(function(){
            for(let i=0;i<clubs.length;i++){
                var added = document.createElement('option');
                added.value = `${clubs[i]['id']}`;
                added.innerHTML = `${clubs[i]['name']}`;
                select1.append(added);
            }
        })
        function myFunction() {
            let ids = document.getElementById("first_club").value;
            for(let i=0;i<clubs.length;i++){
                if(clubs[i]['id'] != ids) {
                    var added = document.createElement('option');
                    added.value = `${clubs[i]['id']}`;
                    added.innerHTML = `${clubs[i]['name']}`;
                    select2.append(added);
                }
            }
        }
</script>
    </script>
{% endblock %}