{% extends 'base.html' %}
{% load static %}
{% block content %}  
<div class="main-content" >
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
              {% if turnirs %}
              <div class="card-header">
                  <div class="">
                        <h4>Turnirlar Jadvali</h4>
                  </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                      data-target="#exampleModalCenter">Add</button>
                </div>
              </div>
              <div class="card-body">
                <table class="table table-hover table-dark">
                  <thead>
                    <tr>
                      <th class="text-center" scope="col">#</th>
                      <th class="text-center" scope="col">Nomi</th>
                      <th class="text-center" scope="col">Boshanish sanasi</th>
                      <th class="text-center" scope="col">Faolligi</th>
                      <th class="text-center" scope="col">Batafsil</th>
                      <th class="text-center" scope="col">Komanda qo'shish</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for turnir in turnirs %}
                    <tr>
                      <th class="text-center" scope="row">{{forloop.counter}}</th>
                      <td class="text-center">{{turnir.name}}</td>
                      <td class="text-center">{{turnir.data_start|date:'Y-m-d'}}</td>
                      <td class="text-center">Faol</td>
                      <td class="text-center"><a href="{% url 'tur_url' turnir.pk %}">link</a></td>
                      <td class="text-center"><button  type="button" class="btn btn-primary" data-toggle="modal"
                      data-target="#exampleModalCenter{{ turnir.id }}">add club</button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="{% url 'add-tournament' %}" method="post">
                {% csrf_token %}
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Add Tournament</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <input type="text" class="form-control" name="name" placeholder="Tournament name">
                      <input type="date" name="date" class="form-control mt-3">
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
            </form>
        </div>
      </div>
    </div>
{% for i in turnirs %}
    <div class="modal fade" id="exampleModalCenter{{ i.id }}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="{% url 'add-club' %}" method="post">
                {% csrf_token %}
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Add Tournament</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <input type="hidden" name="tournament" value="{{ i.id }}">
                      <select name="clubs" class="form-control" id="" multiple style="height: 300px">
                          {% for x in clubs %}
                            {% if x in i.clubs.all  %}
                          <option value="{{ x.id }}" selected>{{ x.name }}</option>
                            {% else %}
                          <option value="{{ x.id }}">{{ x.name }}</option>
                            {% endif %}
                          {% endfor %}
                      </select>
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
            </form>
        </div>
      </div>
    </div>
{% endfor %}
</div>
{% endblock content %}