{% extends 'base.html' %}
{% load static %}
{% block content %}  
<div class="main-content">
    <div class="row">
        <div class="col-6">
            <h2 class="">Tur uchrashuvlari</h2>
        </div>
        <div class="col-5"></div>
        <div class="col-1">
            <button type="button" class="btn btn-primary" data-toggle="modal"
                      data-target="#exampleModalCenter">add</button>
        </div>
    </div>
    <div class="row sortable-card ui-sortable">
        {% for tur in turs %}
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="card">
              <div class="card-statistic-4">
                <div class="align-items-center justify-content-between">
                  <a class="row " href="{% url 'matches_url' tur.id %}" style="text-decoration: none">
                    <div class="col-12 pr-0 pt-1">
                      <div class="card-content">
                        <h5 class="font-15">{{tur.name}}</h5>
                        <h2 class="mb-1 font-18">{{tur.data_start|date:'Y-m-d'}}</h2>
                      </div>
                    </div>
                </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="{% url 'add-round' %}" method="post">
                {% csrf_token %}
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Tur qoshish</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <input type="hidden" name="tournament" value="{{ tour }}">
                      <input type="text" class="form-control mt-3" name="name" placeholder="Tur name">
                      <input type="date" name="date" class="form-control mt-3">
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
            </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Turnir jadval</h4>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center" scope="col">#</th>
                  <th class="text-center" scope="col">name</th>
                  <th class="text-center" scope="col">game</th>
                  <th class="text-center" scope="col">win / lose / draw</th>
                  <th class="text-center" scope="col">point</th>
                  <th class="text-center" scope="col">scored / missed</th>
                  <th class="text-center" scope="col">total / goal</th>
                </tr>
              </thead>
              <tbody>
              {% for i in clubs %}
                <tr>
                  <th class="text-center" scope="row">{{ forloop.counter }}</th>
                  <td class="text-center">{{ i.name }}</td>
                  <td class="text-center">{{ i.game }}</td>
                  <td class="text-center">{{ i.win }} / {{ i.lose }} / {{ i.draw }}</td>
                  <td class="text-center">{{ i.point }}</td>
                  <td class="text-center">{{ i.scored }} / {{ i.missed }}</td>
                  <td class="text-center">{{ i.total_goal }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}